.roof {
  font-size: 16px;
  letter-spacing: 0.3px;
}

h1 {
  margin-bottom: 1.25rem;
}

.autor-byline {
  color: $gray-600;
  border-bottom: 1px solid $gray-600;
  margin-bottom: 2.5rem;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

p.callout {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-weight: bold;
  color: $primary;
}


.text-no-wrap {
  white-space: nowrap;
}

#section-details {
  background-color: #F5F5F5;
  padding-top: 2rem;
  margin-bottom: 2rem;

  .item-detail {
    margin-bottom: 1.5rem;
    text-align: center;

    .icon {
      margin-bottom: 0.5rem;
    }

  }

}

#section-text,
#section-related,
#section-keywords {
  margin-bottom: 2rem;
}

.section-label {
  color: $gray-600;
  border-bottom: 1px solid $gray-600;
  margin-bottom: 1rem;
  font-size: 16px;
}

ul.list-arrowed {
  padding: 0;

  li {
    list-style-type: none;

    &:before {
      margin-left: 0;
      content: "";
      background: url('++theme++plonetheme.siguv/icons/siguv/arrow.svg');
      background-size: contain;
      margin: 0 .4em 0 0;
      width: .6em;
      height: .6em;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.portaltype-landingpage {

  #titel {

    h1, h2, h3, h4 {
      font-size: 16px;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-weight: 600;
      color: #3c3c3c;
      margin-bottom: 1.5rem
    }

    p {
      font-size: 22px;
      margin-bottom: 2rem;
      line-height: 1em;
    }

    .loud {
      color: $primary;
      font-weight: 600;
      line-height: 2em;
    }

    .discreet {
      font-size: 16px;
    }

  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

}
