#portal-navigation {

    .menu {

        .menu-section {

            margin-bottom: 1.5rem !important;
            padding: 10px 20px;

            .menu-section-title {
                background-color: transparent;
                font-weight: 600;
                text-transform: uppercase;
                font-size: .9em;
                letter-spacing: .3px;
                border-bottom: 1px solid #c6c6c6;
                margin-bottom: 6px;
                padding: 0 0 3px 0;
            }

            a,
            a:hover,
            a:focus,
            a:active,
            a:visited {
                display: flex;
                align-items: center;
                padding: 0;
                border: none;
                color: #3c3c3c !important;
            }

            a:hover {
                color: $primary !important;
            }
        
            .menu-section-content {

                .menu-item-icon {
                    margin-right: .5em !important;
                }

                .menu-item-title {
                    flex-grow: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-bottom: 3px;
                    position: relative;
                    display: block;
                    padding: 4px 5px 4px 0;
                    margin: 0;
                }

            }

        }
    }
}


#portal-navigation {

    .menu {

        #sidebar-section-search {
            .menu-section-content {
                padding: 20px 0 0 0;
            }    
        }

        #sidebar-section-navigation {

            background: #ededed;
            padding: 20px;
            padding-right: 14px;
        
            .has-back {
                padding-left: 12px;
            }

            a,
            a:hover,
            a:focus,
            a:active,
            a:visited {
                align-items: stretch;
                padding: 4px 0;
            }
        
            .link-show {
                font-weight: 600;
                color: #0063af !important;
            }

            .menu-item-nav {
                border-left: 1px solid #b2b2b2;
                position: relative;
                top: 0;
                padding: 4px 0 0 12px;
            }

            .menu-item-nav::before {
                opacity: 0.6;
            }
        
        }
        
    }
}
