html #portal-footer-wrapper .page-footer {
    background-color: #004994;
}

.page-footer {
    color: #FFFFFF;
}

.page-footer a {
    color: #FFFFFF;
}

body > div.container {
    padding: 170px 30px 100px 30px;
}

footer {
  padding-top: 30px;
}

i {
    padding-right: 5px;
}

div.container.header-wrapper {
  padding: 0 30px;
}

div.header-icons {
  padding: 0;
  text-align: right;
  margin-top: 15px;
}

h1 {
  color: #19202A;
  font-weight: normal;
}

.description {
  color: #1C2331;
  font-size: 18px;
  font-weight: normal;
}
.discreet {
  color: #777777;
  font-weight: 300;
}

div#siguv-navigation  .menu-item-title {
    padding: 1rem 0;
    margin-right: 1rem;
    color: rgba(0,0,0,0.5);
}

div#siguv-navigation li.active .menu-item-title {
    padding: 1rem 0;
    margin-right: 1rem;
    color: #004994;
}

#portal-navigation .menu .menu-section .menu-profile .profile-image {
    background-image: url('/static/uvcreha/defaultUser.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto 30px auto;
    opacity: 1;
    overflow: hidden;
    transition: opacity 150ms ease-in-out;
    width: 80px;
}

#portal-navigation .menu .menu-section .menu-profile .profile-info {
    text-align: center;
}

#portal-navigation .menu .menu-section .menu-profile .profile-info .profile-name {
    background-color: #F1F1F1;
    border-radius: 8px;
    color: #2F3334;
    font-size: 18px;
    font-weight: 300;
    padding: 4px;
}

#navigation {
    margin-bottom: 1em;
}

div.context-menu {
    float: right;}
css

.form-inline .form-control {
    margin-right: 5px;
}

nav .breadcrumb-item {
    display: inline-block !important;
}

html body #content .container {
    padding: 3rem 0 2rem 0;
}

span[data-state="inquiry"],
span[data-state="created"] {
    font-weight: bold;
    color: #ff8c00;
}

span[data-state="sent"],
span[data-state="pending"] {
    font-weight: bold;
    color: #eed202;
}

span[data-state="validated"],
span[data-state="approved"],
span[data-state="active"] {
    font-weight: bold;
    color: #66b032;
}

span[data-state="inactive"],
span[data-state="closed"] {
    font-weight: bold;
    color: grey;
}
