#portal-shariff {
  border-top: 1px solid #ededed;
  padding: 3rem 0;

  h6 {
    color: #3c3c3c;
  }

  .shariff {

    ul {

      li {
        margin-right: 4px !important;
        width: auto;
        height: auto;

        a {
          width: auto;
          height: auto;
          padding: 3px;
        }

      }

    }

  }

}